<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles/signup.css" />
  </head>
  <body>
    <div class="signup-container">
      <h2>Sign Up</h2>
      <form action="signup" method="post" onsubmit="return validateForm()">
        <input
          type="text"
          class="signup-input"
          placeholder="Full Name"
          name="fullName"
          id="fullname"
          value="{{enteredName}}"
        />
        <small id="fullnameError"></small>
        <input
          type="text"
          class="signup-input"
          placeholder="Email"
          name="eMail"
          id="email"
          value="{{enteredEmail}}"
        />
        <small id="emailError">{{replace}}</small>
        <input
          type="password"
          class="signup-input"
          placeholder="Password"
          name="password"
          id="password"
          value="{{enteredPassword}}"
        />
        <small id="passwordError"></small>
        <button type="submit" class="signup-button">Sign Up</button>
      </form>
      <div class="separator-line"></div>
      <div class="existing-user">
        Already a user?
        <a href="/" class="login-link">Login Here</a>
      </div>
    </div>
    <script src="/scripts/signup.js"></script>
  </body>
</html>